In [5]:
import pandas
from geopy.geocoders import ArcGIS

In [10]:
df=pandas.DataFrame()
df=pandas.read_csv("geocode.txt")
df

         address      city               state country
0  sun pharma rd  vadodara      390012 gujarat   india
1            nse    mumbai  400051 maharashtra   india
2   harry street     surat      390001 gujarat  india

In [12]:
nom= ArcGIS()
df["address"]= df["address"] +", "+df["city"]+", "+df["state"]+", "+df["country"]
df["add'"]= df["address"].apply(nom.geocode)
df["latitude"]= df["add'"].apply(lambda x: x.latitude if x != None else None)
df["longitude"]= df["add'"].apply(lambda x: x.longitude if x != None else None)
df1 = df.drop("add'" ,1)
df1

C:\Users\ANI\AppData\Local\Temp/ipykernel_10564/1954494944.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1 = df.drop("add'" ,1)

,address,city,state,country,latitude,longitude
0,"sun pharma rd, vadodara, 390012 gujarat, india",vadodara,390012 gujarat,india,22.280772,73.163149
1,"nse, mumbai, 400051 maharashtra, india",mumbai,400051 maharashtra,india,19.060715,72.854564
2,"harry street, surat, 390001 gujarat, india",surat,390001 gujarat,india,22.296850,73.196134